tmp/
*.tmp

# External dependencies (but keep their parent dir)
extern/**/

# Build artifacts
.build.*/

# Demo binary
*-demo
*demo.exe
# These will be placed along the .exe (not in the build workdir):
*.ilk
*.pdb

# Lib
lib/
!src/lib/
*.a
*.lib

# Code::Blocks
sfml-widgets.layout
sfml-widgets.depend
