tmp/

# External dependencies (but keep their parent dir)
extern/**/

# Build artifacts etc.
#tmp/build/
*.tmp
*.ilk
*.pdb

# Test/demo binaries (created in the repo root currently)
*-demo
*-test
# Ignore these in the root only (may have some in tooling/ etc.)
/*.exe

# Lib
lib/
!src/lib/
*.a
*.lib

# Code::Blocks
sfml-widgets.layout
sfml-widgets.depend

# VS "solution" file occasionally used for debugging:
*.sln
