tmp/
*.tmp

# External dependencies (but keep their parent dir)
extern/**/

# Build artifacts
.build.*/

# Demo binary
*-demo
*demo.exe

# Lib
lib/
*.a
*.lib

# Code::Blocks
sfml-widgets.layout
sfml-widgets.depend
